{% extends 'base.html.twig' %}
{% block title %}HOME{% endblock %}
{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8">

                <button class="btn btn-primary" id="but">display</button>
                <div id="displayBase"></div>
                <template id="demo">
                    {% for user in users %}
                        <user-card first-name="{{ user.userName }}" last-name="{{ user.userEmail }}">
                            <a class="displayData" href="{{ path('home.search',{id:user.id}) }}"
                               slot="links">{{ user.userName }}</a>
                            <span slot="links" class="suite"></span>
                        </user-card>
                    {% endfor %}
                </template>

            </div>
        </div>
    </div>
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
        </div>
    </footer>
{% endblock %}
