{% extends 'base.html.twig' %}
{% block title %}Admin{% endblock %}

{% block body %}
    {{ include ('Include/NavBar.html.twig') }}
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div data-aria-accordion
                     data-multi
                     data-transition
                     data-default="none"
                     id="accGen">
                    <h3 data-aria-accordion-heading>
                        Chapter 1
                    </h3>
                    <div data-aria-accordion-panel>
                        <p>
                            Here is the first panel of content.
                        </p>
                        <p>
                            This particular accordion example can have multiple opened panels at a time, or every panel
                            closed.
                        </p>
                    </div>
                    <h3 data-aria-accordion-heading>
                        Chapter 2
                    </h3>
                    <div data-aria-accordion-panel>
                        <p>
                            By using the <code>data-multi</code> attribute, multiple
                            panels can be opened at once.
                        </p>
                    </div>
                    <h3 data-aria-accordion-heading>
                        Chapter 3
                    </h3>
                    <div data-aria-accordion-panel>
                        <p>
                            The <code>data-default="none"</code> attribute is used to
                            indicate that no panel will be open by default, when the
                            accordion is initially rendered.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-2">
                <pp-modal content="admin Home">
                    <h1 slot="header">Information Box</h1>
                </pp-modal>
            </div>
            <div class="col-md-5">
                <div class="form-inline">
                <multi-input>
                    <input list="speakers">
                    <datalist id="speakers">
                        {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.projectName }}</option>

                        {% endfor %}
                    </datalist>
                </multi-input>
                <button class="btn btn-success btn-sm ml-2" id="get">Get values</button>
                <span id="values"></span>
                </div>
            </div>
            <div class="col-md-5">
                <p>Multiselect Auto-Complete</p>
                <div class="autocomplete-select"></div>
            </div>
        </div>
    </div>
{% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('adminHome') }}
    {% endblock %}
