@import "accordion/aria.accordion";
@import "multi-select/multi-select";

.main-components {
  background: rgba(230, 228, 227, 0.91);
  padding: 5em;
  @extend .container-fluid;
  @extend .btn;
}

multi-input {
  border-radius: 3px;
  border: 1px solid #a8a8a8;
  display: inline-block;
  padding: 0.2em;

  .item {
    padding-left: 0.2em;
    padding-right: 0.2em;
    margin: 0.1em;
  }
}
