
.mainback{
  background: grey;
  padding:5em;
  .btn{
    background: rgba(101, 156, 189, 0.82);
    &:hover{
      background: #AAAAAA;
    }
  }
  @extend .container-fluid;
}
.mainproject{

  @extend .container;
}
.maintitle{
  text-align: center;
  @extend .container;
}
