.con {
        background-color: white;
        position: relative;
        padding-bottom: 0;
        padding-left: 5em;
        padding-right: 5em;
    }

    @media (max-width: 768px) {
        .con {
            padding: 0;
        }
    }
