 .parallax1{
   background-image: url("../images/coding-924920_1920.jpg");
   height: 40em;
   position: relative;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
  }
  .headingParallax{
    position: relative;
    text-align: center;
    color: #989898;
    font-size: 350%;
    top: 35%;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
  }

 @media (max-width: 768px) {
   .headingParallax {
     font-size: 250%;
   }
 }
