{% extends 'base.html.twig' %}

{% block body %}
    {{ include ('Include/NavBar.html.twig') }}
    <div class="container mt-5">
        {{ include ('admin/Projects/_form.html.twig',{form:form, button: 'Enregistrer'}) }}
    </div>
{% endblock %}
{% block stylesheets %}{% endblock %}

{% block javascripts %}

{% endblock %}
