
.parallax2 {
  padding-bottom: 5em;
  background-image: url("./../images/background01.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 5em;
}
