.parallax3 {
  padding-top: 3em;
  background-image: url("./../images/background02.webp");
  padding-bottom: 5em;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.tool-title{
  background-color: lime;
}
